.wrapper
    .banner
        .banner__pers
            picture
                source(media="(max-width: 1440px)" srcset="img/boys-tab.png")
                img(src="./img/boys-desc.png" alt="favbet")
        .banner__text
            picture
                source(media="(max-width: 1440px)" srcset="img/text-tab-en.png")
                img(src="./img/text-desc-en.png" alt="favbet")